<html xmlns:th="https://thymeleaf.org">    

  <div  th:if="${!empsList.empty}">
       <table  border="1"  bgcolor="cyan"  align="center"> 
                <tr bgcolor="pink">
                   <th>eno </th> <th>ename </th> <th>desg</th> <th>salary </th> <th>deptNo </th>                </tr>
                <tr  th:each="emp:${empsList}">
                        <td><span th:text="${emp.empno}"/> </td>
                        <td><span th:text="${emp.ename}"/>  </td>
                        <td><span th:text="${emp.job}"/>  </td>
                        <td><span th:text="${emp.sal}"/>  </td>
                        <td><span th:text="${emp.deptno}"/>  </td>
                    </tr>
       </table>
       </div>
   <div th:if="${empsList.empty}">
           <h1 style="color:red;text-align:center"> Records  not  found </h1>
   </div>
                 <blink><h1 style="color:green;text-align:center" th:text="${resultMsg}"/> </blink>
 <br> 
 <br>
 <br>
